ML Neuroscience Task - Helper Data
NFBS_Dataset
NFBS_Dataset.tar.gz
T1w_MRI_test_data.zip
Task for ML Neuroscience Engineer Recruitment.pdf
T1Img
ML Neuroscience Task - Helper Data.zip
NFBS_BEaST_Library.tar
bc.py
*.tar
*.tar.gz
*.nii.gz
__pycache__
.ipynb_checkpoints
data
data.zip
r.py
skull-stripping-train-logs
config.keys
dmn_viz
cache
skull_stripping_logs - resUNET3d mse 2-20210710T163108Z-001.zip
skull_stripping_logs - resUNET3d mse 2-20210710T163108Z-001
skull_stripping_logs - resUNET3d mse 2
dmn_ica.ipynb
dmn_ica-bg.ipynb
ica_exp.ipynb
ica.ipynb
training_loss_progress.png
predicted.png